<div class="about">
  <h2 class="about--title heading">Atividades</h2>

  <div class="about--section">
    <div class="about--subsection">
      <h3 class="heading about--subtitle">Competições</h3>
      <div class="about--subsection-description">
        <p>
          Nós treinamos para uma das principais competições na área de segurança
          da informação: as Capture The Flag (CTFs).
        </p>
        <p>
          Nosso guia introdutório de CTFs e resoluções de desafios que fizemos
          se encontram na nossa
          <a href="https://wiki.imesec.ime.usp.br/">wiki</a>.
        </p>
      </div>
    </div>
    <div class="about--subsection about--subsection-image">
      <!-- temporary image -->
      {% include white-flag.html%}
    </div>
  </div>
</div>
