<div class="about">
  <h2 class="about--title heading">Atividades</h2>

  <div class="about--section">
    <h3 class="heading about--subtitle">Competições</h3>
    <div class="about--section-body">
      <div class="about--subsection about--subsection-description">
        <p>
          Nós treinamos para uma das principais competições na área de segurança
          da informação: as <b>Capture The Flag</b> (CTFs).
        </p>
        <p>
          Nosso guia introdutório de CTFs e resoluções de desafios que fizemos
          se encontram na nossa
          <a href="https://wiki.imesec.ime.usp.br/">wiki</a>.
        </p>
      </div>
      <div class="about--subsection about--subsection-image">
        <!-- temporary image -->
        {% include white-flag.html%}
      </div>
    </div>
  </div>

  <div class="about--section">
    <h3 class="heading about--subtitle">Palestras e workshops</h3>
    <div class="about--section-body">
      <div class="about--subsection">
        <div class="about--subsection-description">
          <p>
            Nós realizamos diversas palestras e workshops. Um deles é o
            <b>Hacker Starter Course</b>, um curso introdutório sobre segurança
            e <i>hacking</i>.
          </p>
          <p>
            Você pode conferir esses <a href="">materiais</a> na nossa página,
            ou no nosso
            <a href="https://www.youtube.com/channel/UCl5XIpbR_7NsCakv5qkiOyw"
              >canal no YouTube</a
            >.
          </p>
        </div>
      </div>
      <div class="about--subsection about--subsection-image">
        <!-- temporary image -->
        {% include hacker-starter-course.html%}
      </div>
    </div>
  </div>

  <div class="about--section">
    <h3 class="heading about--subtitle">WikiSEC</h3>
    <div class="about--section-body">
      <div class="about--subsection">
        <div class="about--subsection-description">
          <p>
            Além de materiais sobre CTFs, temos vários outros artigos em nossa
            <a href="https://wiki.imesec.ime.usp.br/">wiki</a>. Você pode
            encontrar conteúdo sobre criptografia, servidores e até programação.
          </p>
        </div>
      </div>
      <div class="about--subsection about--subsection-image"></div>
    </div>
  </div>

  <div class="about--meetings">
    <h2 class="heading">> Seja um hacker também!</h2>
    <p>
      Nossas reuniões são <b>todas as quartas e sextas</b> às <b>14h</b> no
      <b>LabX do CCSL no IME-USP</b>.
    </p>
  </div>
</div>
