<div id="header" class="header">
  <a class="heading mobile-visible header--link" href="https://wiki.imesec.ime.usp.br/"
    >Wiki</a
  >
  <a class="heading mobile-hidden header--link" href="lectures.html">Palestras</a>
  <div class="mobile-visible header--menu">
    {% include hamburger-menu.html %}
  </div>
  <a class="heading mobile-hidden header--link" href="https://imesec.ime.usp.br/public/"
    >Public</a
  >
  <a
    class="heading mobile-visible header--link"
    href="https://docs.google.com/spreadsheets/d/1Qw3J20kL6B6Ltq4fFthpE2wrhs4l0SvRTuXZAF2iB-4"
    >Planilha</a
  >
</div>
