<div class="splash">
  <div class="splash--logo">
    <span class="splash--logo-text">
      <span id="splash--logo-letter-0" class="splash--logo-letter">I</span>
      <span id="splash--logo-letter-1" class="splash--logo-letter">M</span>
      <span id="splash--logo-letter-2" class="splash--logo-letter">E</span>
      <span id="splash--logo-letter-3" class="splash--logo-letter">s</span>
      <span id="splash--logo-letter-4" class="splash--logo-letter">e</span>
    </span>
    <span class="splash--logo-lock">
      {% include imesec-lock.html width='100%'%}
    </span>
  </div>
  <div>
    <p class="splash--subtitle">Grupo de segurança da informação do IME-USP</p>
  </div>
</div>
