* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-family: "Saira", sans-serif;
}

.heading {
  font-family: "Orbitron", sans-serif;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  width: 100%;

  a {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
  }
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash--logo-text {
  width: 65vw;
  display: flex;
  justify-content: space-around;
}

.splash--logo-lock {
  margin-left: 2vw;
  width: 14.5vw;
}

.splash--logo-letter {
  margin: 0.5vw;
  font-weight: bold;
  font-size: 14vw;
}

.splash--subtitle {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  font-weight: 500;
}

.about {
  margin-top: 10em;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about--title {
  font-size: 2.5em;
}

.about--subtitle {
  font-size: 2em;
}
.about--section {
  margin-top: 4em;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about--subsection {
  width: 40vw;
  margin: 3em;
}
.about--subsection-description {
  margin-top: 1em;
  font-size: 1.5em;

  p {
    margin: 0.5em;
  }
}

.about--subsection-image {
  width: 20vw;
}

@media (max-width: 800px) {
  .splash--subtitle {
    font-size: 1em;
  }

  .about--subsection-description {
    max-height: 50%;
  }
  .about--subsection {
    width: 100vw;
    height: 50vh;
  }
}
