---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Saira&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>IMEsec</title>
  </head>
  <body>
    <div class="header">
      <a class="heading" href="https://wiki.imesec.ime.usp.br/">Wiki</a>
      <a class="heading" href="https://imesec.ime.usp.br/public/">Public</a>
    </div>

    {% include splash.html %} {% include about.html %}

    <footer></footer>
  </body>
  <script src="assets/javascript/bundle.js"></script>
</html>
